:root {
    --couleur-primaire : #53606C;
}

body {
color: #fff;
background-color:#1f222a;
}

a {
color: #e2af78;
}

h1 {
color: #d87c4bff;
}

h2 {
color: #d87c4bff;
}

h3 {
color: #e2af78;
}

#inktree {
background-color: blue ;
}